body {
  font: 14px "Century Gothic", Futura, sans-serif;
  margin: 20px;
}

ol, ul {
  padding-left: 30px;
}

.board-row:after {
  clear: both;
  content: "";
  display: table;
}

.status {
  margin-bottom: 10px;
}

.square {
  background: #fff;
  border: 1px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  padding: 0;
  text-align: center;
  width: 34px;
}

.square:focus {
  outline: none;
}

.kbd-navigation .square:focus {
  background: #ddd;
}

.game {
  display: flex;
  flex-direction: row;
}

.game-info {
  margin-left: 15px;
  padding-left: 15px;
  border-left: 1px solid #ccc;
}

.game-info .title {
  margin-top: 0;
}


.lista-jogadas {
  margin: 0 0 0.45rem 0;
}

.botao-jogada {
  background: #19d5cd;
  color: white;
  padding: .5rem 1.5rem;
  border: none;
  border-radius: 18px;
  font-size: 14px;
  cursor: pointer;

  transition: background linear 0.3s;
}

.botao-jogada:hover {
  background: #02ccc3;
}